<%= form_for(@game, role: 'form') do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group <%= 'has-error' unless @game.errors.count <= 0 %>">
    <%= f.label :played_on, class: 'control-label' %><br>
    <%= f.date_select :played_on, class: 'form-control' %>
  </div>

  <%= f.submit class: "btn btn-default" %>

<% end %>
