<p id="notice"><%= notice %></p>

<div class="form-group">
  <label><strong>Played On:</strong></label>
  <%= @game.played_on %>
</dev>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
