<p id="notice"><%= notice %></p>

<div class="form-group">
  <label><strong>Name:</strong></label>
  <%= @player.name %>
</div>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
